.cart_count {
    position: absolute;
    top: -4px;
    right: -8px;
    background-color: var(--white-background-color);
    color: var(--primary-color);
    font-size: 0.75rem;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4px;
    font-weight: bold;
}

.cart_icon {
    position: relative;
}

.cart_icon:hover {
    color: var(--highlight-color);
}

.cart_icon:hover .cart_count {
    background-color: var(--highlight-color);
    color: var(--white-background-color);
}