.cart_summary_button {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: var(--font-size-base);
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid var(--highlight-btn-color);
    transition: all 0.1s ease;
}

.cart_summary_button:hover {
    background-color: var(--highlight-color);
} 