.products_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product_item {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--tertiary-color);
}

.order_info_label {
    font-weight: bold;
}