.footer_container {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px !important;
}

.footer_row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0px !important;
}

.footer_col {
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
}

.footer_menu h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer_col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_col ul li {
    margin-bottom: 0.5rem;
}

.footer_col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: var(--font-size-small);
    transition: color 0.2s;
}

.footer_hr {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
}

.footer_copyright {
    font-size: 0.75rem;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Responsive layout */
@media (max-width: 768px) {
    .footer_menu {
        align-items: center;
        text-align: center;
    }

    .footer_col {
        justify-content: center;
    }
}