.footer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
}

.footer_row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0 !important;
}

.footer_col {
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
}

.footer_menu h3 {
    font-size: var(--font-size-medium);
    margin-bottom: 0.5rem;
    color: var(--white-background-color);
}

.footer_col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_col ul li {
    margin-bottom: 0.5rem;
}

.footer_col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: var(--base-font-family);
    font-size: var(--font-size-small);
    transition: color 0.2s;
}

.footer_hr {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
}

.footer_copyright {
    font-size: 0.75rem;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer_copyright a {
    text-decoration: none;
}

.footer_copyright_link {
    color: var(--white-background-color);
    font-weight: bold;
    transition: all 0.1s ease;
}

.footer_copyright_link:hover {
    color: var(--highlight-color);
    font-weight: bold;
}


/* Responsive layout */
@media (max-width: 768px) {
    .footer_menu {
        align-items: center;
        text-align: center;
    }

    .footer_col {
        justify-content: center;
    }

}