.hero_container {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    padding: 32px 54px;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    overflow: hidden;
}

.hero_background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero_content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: start;
}

.hero_button_container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero_button_container a {
    text-decoration: none;
}

@media (max-width: 1440px) {
    .hero_container {
        height: 40vh;
    }

    .hero_title {
        font-size: 32px;
    }

}

@media (max-width: 768px) {
    .hero_container {
        height: 35vh;
    }

    .hero_title {
        font-size: 24px;
    }
}