.order_confirmation {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color);
}

.success_icon {
    font-size: 4rem;
    color: rgb(85, 189, 85);
}

.order_header {
    text-align: center;
}

.order_header h1 {
    font-size: var(--font-size-xlarge);
    margin-bottom: 8px;
}

.order_header p {
    font-size: var(--font-size-base);
}

.section_title {
    font-size: var(--font-size-large);
    margin-bottom: 16px;
}

.shipping_info {
    margin-bottom: 16px;
}

.shipping_info p {
    font-size: var(--font-size-base);
    margin-bottom: 8px;
}

.order_details {
    margin-bottom: 16px;
}

.order_details p {
    font-size: var(--font-size-base);
    margin-bottom: 8px;
}

.order_items {}

.items_table {
    width: 100%;
    border-collapse: collapse;
}

.items_table th {
    text-align: left;
    padding: 8px;
    font-size: var(--font-size-base);
    border-bottom: 1px solid var(--tertiary-color);
}

.items_table td {
    padding: 8px;
    font-size: var(--font-size-base);
    border-bottom: 1px solid var(--tertiary-color);
}

.action_buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}