.main_menu {
    margin: 8px 0;
    padding: 0;
    position: relative;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 36px;
    margin: 0 auto;
}

.sub_menu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    min-width: 200px;
}

.sub_menu_item {
    display: block;
    padding: 8px 0;
}

.nav_item {
    text-decoration: none;
    color: #000000;
    font-size: var(--font-size-base);
    letter-spacing: 0.05em;
}

.nav_item:hover {
    color: #5a1588;
}

.sub_menu_container {
    position: relative;
}