@import url('https://fonts.googleapis.com/css2?family=Creepster&family=UnifrakturMaguntia&display=swap');

.header_container {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
}

.logo_container {
    margin: 16px 0 0 16px;
    display: flex;
    align-items: center;
}

.logo_link {
    text-decoration: none;
    color: var(--primary-color);
}

.logo_title {
    margin: 0;
    font-weight: bold;
    margin-left: 16px;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 36px;
}

.logo {
    width: 64px;
    height: 64px;
}

.header_icons {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.header_icon {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    margin-right: 8px;
}

.logout_button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
    padding: 8px 16px;
    font-weight: bold;
    transition: all 0.1s ease;
}

.logout_button:hover {
    background-color: var(--primary-color);
    color: white;
}

@media (max-width: 768px) {
    .logo_title {
        font-size: 24px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 360px) {

    .logo_title {
        display: none;
    }

    .header_icons {
        margin-top: 8px;
        padding: 0px;
    }

    .logo {
        width: 48px;
        height: 48px;
    }

    .logo_container {
        margin: 8px 0 0 8px;
    }
}