.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.page_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_button {
    min-width: 24px;
    height: 24px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: 100;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-small);
    transition: all 0.1s ease;
}

.page_button:hover:not(:disabled) {
    background-color: var(--secondary-color);
    color: #ffffff;
    transform: translateY(-2px);
}

.page_button.active {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.page_button:disabled {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    cursor: not-allowed;
    transform: none;
}

.page_button:disabled:hover {
    background-color: white;
    color: var(--secondary-color);
}