.product_card_container {
    width: 100%;
}

.product_card_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card_image {
    width: 200px;
}

.product_card_details {
    background-color: transparent;
    padding: 16px;
    background-color: #F0F0F0;
    border-radius: 8px;
}

.product_card_name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.product_card_description {
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_card_price_stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid #9F9F9F;
    border-radius: 6px;
}

.product_card_button_container {
    display: flex;
    align-items: center;
}

/* .product_card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: #3b0e57;
    border: 2px solid #3b0e57;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
} */

.product_card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3b0e57;
    color: #ffffff;
    border: 2px solid #3b0e57;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.product_card_button_disabled {
    background-color: #9F9F9F;
    color: white;
    cursor: not-allowed;
    border: 2px solid #9F9F9F;
}

.cart_icon {
    margin-left: 10px;
    font-size: 16px;
}
