.footer_container {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.footer_col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_col ul li {
    margin-bottom: 0px;
}

.footer_col ul li:last-child {
    margin-bottom: 0;
}

.footer_col ul li a {
    text-decoration: none;
    color: #000000;
    font-size: var(--font-size-small);
}

.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.footer_menu h3 {
    font-size: var(--font-size-base);
    font-weight: 600;
    margin-bottom: 8px;
}

.footer_hr {
    margin: 0;
    border-top: 1px solid var(--secondary-color);
}

.footer_copyright {
    font-size: var(--font-size-xsmall);
}

@media (max-width: 768px) {
    .footer_menu {
        width: 100%;
        text-align: center;
    }

    .footer_col ul li:last-child {
        margin-bottom: 8px;
    }
} 