.order_header {
    text-align: center;
    margin-bottom: 2rem;
}

.success_icon {
    color: #28a745;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.order_header p {
    font-size: var(--font-size-base);
}