.order_confirmation {
    background-color: var(--white-background-color);
    border-radius: 8px;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .order_confirmation {
        padding: 16px;
    }
}