.order_details {
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.section_title {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-large);
}

.order_details p {
    margin-bottom: 0.5rem;
}

.order_details strong {
    color: #333;
    margin-right: 0.5rem;
}