.shipping_info {
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.section_title {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-large);
}

.shipping_info p {
    margin-bottom: 0.5rem;
}

.shipping_info strong {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .shipping_info {
        padding: 4px;
    }
}