.product_card_container {
    width: 100%;
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
}

.product_card_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card_image {
    width: 200px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.product_card_image:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.product_card_details {
    background-color: transparent;
    padding: 16px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: var(--tertiary-color);
}

.product_card_name {
    font-size: var(--font-size-base);
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.1s ease;
}

.product_card_name:hover {
    color: var(--primary-color);
}

.product_card_description {
    font-size: var(--font-size-small);
    font-weight: 400;
    height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_card_price_stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px;
    font-size: var(--font-size-small);
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 8px;
}

.product_card_button_container {
    display: flex;
    align-items: center;
}

.product_card_button {
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: var(--font-size-base);
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid var(--highlight-btn-color);
    transition: all 0.1s ease;
}

.product_card_button:hover {
    background-color: var(--highlight-color);
}

.product_card_button_disabled {
    background-color: var(--secondary-color);
    color: white;
    cursor: not-allowed;
    border-bottom: none;
}

.product_card_button_disabled:hover {
    background-color: var(--secondary-color);
    border-bottom: none;
}