.main_menu {
    padding: 0;
    position: relative;
}

.main_menu_container {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color);
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 36px;
    margin: 0 auto;
    font-weight: bold;
}

.sub_menu {
    position: absolute;
    z-index: 1000;
    background-color: var(--white-background-color);
    border: 1px solid var(--tertiary-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: none;
    padding: 4px 8px;
    min-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
}

.nav_item {
    text-decoration: none;
    color: var(--white-background-color);
    font-size: var(--font-size-base);
    letter-spacing: 0.05em;
}

.sub_menu_item {
    display: block;
    padding: 2px 0;
    color: black;
}

.nav_item:hover {
    color: var(--primary-color);
}

.sub_menu_container {
    position: relative;
}

.hamburger_button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger_line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 5px 0;
    transition: 0.3s;
}

.cart_icon_container {
    display: none;
}

.arrow_icon {
    margin-left: 4px;
    font-size: var(--font-size-base);
    transition: transform 0.3s ease;
    font-weight: normal;
}

.arrow_icon_rotated {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .hamburger_button {
        display: block;
    }

    .nav_items {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--white-background-color);
       
        flex-direction: column;
        padding: 80px 20px;
        transition: 0.3s;
        z-index: 999;
    }

    .nav_items_open {
        right: 0;
    }

    .nav_item {
        color: var(--primary-color);
        padding: 8px 0;
    }

    .sub_menu {
        position: static;
        border: none;
        padding: 0;
        margin-top: 10px;
        background-color: transparent;
        box-shadow: none;
    }

    .sub_menu_item {
        padding: 10px 20px;
        color: var(--white-background-color);
    }

    .main_menu_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart_icon_container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .user_icon {
        font-size: 24px;
        color: var(--primary-color);
    }

    .arrow_icon {
        display: none;
    }

}