.payment_method {
    padding: 16px 24px;
    background-color: var(--white-background-color);
    border-radius: 8px;
    border: 1px solid var(--tertiary-color);
}

.button_group {
    display: flex;
    gap: 16px;
}

.back_button {
    flex: 1;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: var(--font-size-base);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.back_button:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

@media (max-width: 768px) {
    .payment_method {
        padding: 16px;
    }
}