.payment_method {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color);
}

.payment_method h3 {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: 600;
    margin-bottom: 24px;
}

.payment_info {
    margin-bottom: 24px;
}

.payment_info p {
    font-size: var(--font-size-base);
    color: var(--secondary-color);
    line-height: 1.6;
}

.button_group {
    display: flex;
    gap: 16px;
}

.back_button {
    flex: 1;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: var(--font-size-base);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.back_button:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.place_order_button {
    flex: 1;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: var(--font-size-base);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
    border-bottom: 2px solid var(--highlight-btn-color);
}

.place_order_button:hover {
    background-color: var(--highlight-color);
} 