.product_detail {
    padding: 24px;
}

.product_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.product_image img {
    max-width: 65%;
    height: auto;
}

.product_info h1 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.product_info p {
    color: #000000;
    font-size: var(--font-size-base);
    line-height: 1.6;
}

.product_actions {
    padding: 16px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.add_to_cart_button {
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: var(--font-size-base);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
    border-bottom: 2px solid var(--highlight-btn-color);
}

.product_actions button:hover {
    background-color: var(--highlight-color);
}

.product_price {
    font-size: var(--font-size-large);
}

.quantity_control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 200px;
}

.quantity_button {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-base);
    font-weight: 600;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.quantity_button:disabled {
    cursor: not-allowed;
    color: #ffffff;
    background-color: var(--secondary-color) !important;
}

.quantity_button:not(:disabled):hover {
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    transform: translateY(-2px);
    background-color: transparent !important;
}

.quantity_button:disabled:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.quantity_value {
    min-width: 40px;
    text-align: center;
    font-size: var(--font-size-base);
    color: #000000;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
}

.product_stock {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
}

.product_card_button_disabled {
    background-color: var(--secondary-color) !important;
    color: #ffffff;
    cursor: not-allowed;
    border-bottom: none;
} 