.order_info_item {
    margin-bottom: 0.5rem;
}

.order_info_label {
    font-weight: bold;
    margin-right: 0.5rem;
}

.order_cancel_button {
    background-color: var(--danger-red);
}

.order_cancel_button:hover {
    background-color: var(--danger-red-hover);
}