.user_icon_container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.user_icon_container:hover {
    color: var(--highlight-color);
}

@media (max-width: 768px) {
    .user_icon_container {
        position: static;
    }

    .user_icon_container {
        padding-right: 8px;
    }
}