.dropdown_menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-background-color);
    min-width: 200px;
    z-index: 9999;
}

.dropdown_item {
    display: block;
    padding: 8px 16px;
    color: var(--soft-charcoal);
    text-decoration: none;
    transition: background-color 0.2s;
    font-size: var(--font-size-small);
    cursor: pointer;
}

.dropdown_item:hover {
    background-color: var(--tertiary-color);
}

@media (max-width: 768px) {
    .dropdown_menu {
        position: fixed;
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        width: 100%;
        border: none;
    }
}