.product_info {
    padding: 0rem 1rem;
}

.product_info p {
    color: var(--soft-charcoal);
    line-height: 1.6;
}

.degradado {
    border: none;
    border-top: 1px solid var(--secondary-color);
    margin: 1.5rem 0;
  }