.login_form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.register_button_container {
    font-size: var(--font-size-small);
}

.forgot_password_link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--font-size-small);
}

.forgot_password_link:hover {
    color: var(--highlight-color);
    text-decoration: underline;
}