@import url('https://fonts.googleapis.com/css2?family=Creepster&family=UnifrakturMaguntia&display=swap');

.page_header {
    display: flex;
}

.logo_container {
    margin: 16px 0 0 16px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.header_icons {
    align-items: center;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .header_icons {
        display: none;
    }

    .logo_container {
        margin: 0 auto;
        justify-content: center;
        margin-top: 8px;
    }
} 