:root {
  --font-size-xlarge: 2rem;
  --font-size-large: 1.5rem;
  --font-size-base: 1rem;
  --font-size-small: 0.8rem;
  --font-size-xsmall: 0.7rem;
  --primary-color: #5a1588;
  --secondary-color: #9F9F9F;
  --tertiary-color: #efeded;
  --highlight-color: #772baa;
  --highlight-btn-color: #3b0e57;
  --toastify-icon-color-success: #5a1588!important; 
  --toastify-icon-color-error: #ff1744;  
  --toastify-icon-color-info: #00b0ff;   
}

.custom_h1 {
  font-size: var(--font-size-xlarge);
}

.custom_h2 {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.custom_h3 {
  font-size: var(--font-size-base);
  font-weight: bold;
}

.Toastify__toast--custom {
  background: #efeded ;
  width: auto!important;
  font-size: var(--font-size-small)!important;
}