:root {
  --font-size-large: 1.5rem;
  --font-size-base: 1rem;
  --font-size-small: 0.875rem;
  --primary-color: #5a1588;
  --secondary-color: #9F9F9F;
  --tertiary-color: #efeded;
  --highlight-color: #772baa;
  --highlight-btn-color: #3b0e57;
}