@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caprasimo&display=swap');

:root {
  /* Typography */
  --font-size-xlarge: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-base: 1rem;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;

  /* Color Palette */
  --primary-color: #718AAD;
  --secondary-color: #9F9F9F;
  --tertiary-color: #ECECEC;
  --highlight-color: #FE4134;
  --highlight-color-hover: #B70D01;
  --highlight-btn-color: #F4B942;
  --soft-charcoal: #4F4F4F;
  --background-color: #F5F5F5;
  --white-background-color: #FFFFFF;

  /* Status Colors */
  --danger-red: #D14343;
  --danger-red-hover: #B12B2B;
  --green-color: #4CAF50;

  /* Toast Colors */
  --toastify-icon-color-success: #FE4134 !important;
  --toastify-icon-color-error: #D14343;
  --toastify-icon-color-info: #4A90E2;

  /* Gradients */
  --footer-gradient: linear-gradient(135deg, #2A333C 0%, #3E4C59 100%);
  --base-font-family: 'Inter', sans-serif;

  /* Border Radius */
  --border-radius-medium: 8px;
  --border-radius-small: 4px;
}

/* Base Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color) !important;
  color: var(--soft-charcoal);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', serif;
}

p {
  font-family: 'Inter', sans-serif;
}


/* Typography Classes */
.custom_h1 {
  font-size: var(--font-size-xlarge);
  line-height: 40px;
}

.custom_h2 {
  font-size: var(--font-size-large);
}

.custom_h3 {
  font-size: var(--font-size-base);
}

.custom_p {
  font-size: var(--font-size-small);
  color: var(--soft-charcoal);
}

.text_small {
  font-size: var(--font-size-small);
}

/* Utility Classes */
.text_decoration_none {
  text-decoration: none;
}

.box_padding {
  padding: 0px 8px 0 8px;
}

.smooth-col {
  transition: width 0.3s ease;
}

/* Component Styles */
.Toastify__toast--custom {
  background: var(--tertiary-color);
  width: auto !important;
  font-size: var(--font-size-small) !important;
}

.footer_background {
  background: var(--footer-gradient);
}

/* Button Styles */
.hero_button_color {
  background: var(--highlight-color) !important;
  color: white;
}

.hero_button_color:hover {
  background: var(--highlight-color-hover) !important;
}

.bg_primary_color {
  background-color: var(--highlight-btn-color);
}

.margin_auto {
  margin: 0 auto;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.wizardOfCode {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 0 0 5px #40E0D0;
  font-family: 'Amatic SC', cursive;
}